@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

 #root{
   background: #FFFFFF;
}

/* header*/

#header{
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 100;
  height: 60px;

  background: #FFFFFF;
}

#logo{
  position: absolute;
  left: 50%;
  top: 10px;
}

#actions-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  

  position: absolute;
  width: 204px;
  height: 40px;
  right: 101px;
  top: 15px;
}

.show-currencies{
  position: static;
  width: 52px;
  height: 29px;
  margin: 0px 20px;

  font-size: 18px;
}

#plp-current-category{  
  position: relative;
  width: 299px;
  height: 68px;
  left: calc(50% - 299px/2 - 469.5px);
  top: 40px;
  padding: 20px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;

  color: #1D1F22;
  
  font-size: 42px;
}

#plp-cattegories-container{
  position: relative;
  width: 300px;
  height: 56px;
  left: 101px;
  bottom: 0px;
}

#plp-cattegories-buttons{
  position: static;

  height: 56px;
  left: 97px;
  bottom: 0px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  margin: 0px 20px;

  color: #1D1F22;

  background: none;
  border: none;
}

#plp-cattegories-buttons:hover{
  color: #5ECE7B;
  cursor: pointer;
}

#show-currencies-button{
  position: relative;
  bottom: 2px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  
  color: #1D1F22;

  background: none;
  border: none;

  margin: 0px 22px;
}

#show-currencies-button:hover{
  cursor: pointer;
  color: #5ECE7B;
}

#currencies-background{
  position: absolute;
  width: 114px;
  height: 180px;
  right: 20px;
  top: 35px;
  
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

#currencies-background-lable{
  position:relative;
  top: 0px;
  right:15px;
  display: inline-block;
  list-style-type: none; 
}

#currencies-background-button{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  background: none;
  border: none;
   
  color: #1D1F22;
}

#currencies-background-button:hover{
  color: #5ECE7B;
  cursor: pointer;
}

/* Mini Cart */
#mini-cart-badge{
  position: absolute;
  top: 0;
  right: -5px;
  
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  text-transform: uppercase;
  width: 14px;
  height: 16px;
  
  color: #FFFFFF;

  background: #1D1F22;
  border-radius: 55%;
}

#mini-cart{
  position: relative;
  right: 0;
  top: 0;
  border: none;
  background: none;
}

#mini-cart:hover{
  color: #5ECE7B;

  cursor: pointer;
}

#mini-cart-background{
  position: fixed;
  top: 60px;
  right:0;
  left: 0;
  height: 100vh;

  background: rgba(57, 55, 72, 0.22);
}

.mini-cart-main{
  position: absolute;
  top: 0;
  right: 5%;
  height: 540px;
  width: 450px;
  z-index: 180;

  background: #FFFFFF;
}

/* Mini Cart Inside */
#my-bag-lable{
  position: absolute;
  top: 8px;
  left: 16px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  
  color: #1D1F22;
}

.mini-cart-buttons-holder{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}

#view-bag-button{
  position: absolute;
  top: 0;
  right: 55%;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  margin: 0px 12px;
  padding: 14.5px 32px;

  color: #1D1F22;
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  box-sizing: border-box;

  cursor: pointer;
}

#view-bag-button:hover{
  filter: brightness(90%)
}

#view-bag-button:active{
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#check-out-button{
  position: absolute;
  top: 0;
  left: 55%;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  margin: 0px 12px;
  padding: 16px 32px;

  color: #FFFFFF;
  border:none;
  background: #5ECE7B;

  cursor: pointer;
}

#check-out-button:hover{
  filter: brightness(90%)
}

#check-out-button:active{
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#mini-cart-holder{
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 85px;
  top: 50px;
}

/* List of products */
#plp-list-inside{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#plp-li{
  display: inline-block;

  margin:20px;
  padding: 16px;
}

#plp-li:hover{
  background: #FFFFFF;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

#plp-name-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;

  color: #1D1F22;
}

#plp-brand-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;

  color: #1D1F22;
}

#plp-cost-style{
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;

  color: #1D1F22;
}

/* container of each product */ 

.plp-container {
  position: relative;
  width: 100%;
}

.plp-container .img {
  width: 100%;
  height: auto;
}

#out-of-stock{
  position: absolute;
  left: 23.42%;
  top: 40.24%;
  bottom: 43.94%;

  font-size: 24px;
  line-height: 160%;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  
  display: flex;
  align-items: center;
  
  
  color: #8D8F9A;
}

/* add to cart button */

#open-add-to-cart{
  position: relative;
  width: 52px;
  height: 52px;
  left: 285px;
  top: 365px;
  z-index: 1;

  border: none;
  border-radius: 50%;

  color: #FFFFFF;
  background-color: #5ECE7B;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));

  cursor: pointer;
}

#open-add-to-cart:hover{
  filter: brightness(90%)
}

#open-add-to-cart:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

/* pdp page */

.pdp-pop-up{
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 3;
  
  background: #FFFFFF;
}

.pdp-column-holder{
  position: fixed;
  top: 90px;
  width: 100%;
  height: 100%;
}

.pdp-left-col{
  float: left;
  justify-content: center;
  width: 55%;
  height: 100%;
}

.pdp-left-col ul{
  float: left;
  flex-wrap: wrap;

  width: 20%;
  height: 81%; 

  justify-content: center;

  overflow: auto;
}

.pdp-left-col li{
  display: block;
  display: column;
  padding: 5px;
}

#pdp-main-image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  float: right;
  right: 100px;
  height: 610px;
  width: 410px; 
  text-align: center;
}

.button-to-choose-main-img{
  width: 100%;
  height: 100%;

  background: none;
  border: none;
}

.button-to-choose-main-img:hover{
  filter: brightness(93%);
  cursor: pointer;
}

#pdp-right-col{
  float: right;
  width: 40%;
  height: 86%;

  overflow: auto;
}

#product-name{
  position: relative;
  height: 27px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;

  color: #1D1F22;
}

#brand-name{
  position: relative;
  bottom: 15px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;

  color: #1D1F22;
}

.add-to-cart-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 21px;

  border: none;

  background: #5ECE7B;
  cursor: pointer;
}

.add-to-cart-button:hover{
  filter: brightness(90%)
}

.add-to-cart-button:active {
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#add-to-cart-text{
  order: 0;
  margin: 16px 93px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

#pdp-price-text{
  font-family: 'Roboto', Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px; 
  text-transform: uppercase;

  color: #1D1F22;
}

#pdp-price-lable{ 
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;

  color: #1D1F22;
}

#pdp-description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 159.96%;

  width: 550px;
}

#attribute-name{
  font-family: 'Roboto', Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  text-transform: uppercase;

}

#choose-attribute-container-ul{ 
  flex-wrap: wrap;
  position: relative;

  width: 70%;

  bottom: 15px;

  padding: 0px;
}

#attributes-list{
  display: inline-block;
  margin: 12px;
}

.attribute-button{
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 27px;
  padding-right: 24px;
  
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  border: 1px solid #1D1F22;

  background:  #FFFFFF;
  color: #1D1F22;;
}

.attribute-button-selected{
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 27px;
  padding-right: 24px;
  
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  border: 1px solid #1D1F22;

  background: #1D1F22;
  color: #FFFFFF;
}

#choose-attribute-container-ul button:hover{
  filter: brightness(90%);
  cursor: pointer;
}

/* Cart */

#cart-txt{
  position: absolute;
  width: 84px;
  height: 40px;
  left: 100px;
  top: 100px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  
  text-transform: uppercase;
  
  color: #1D1F22;
}

#cart-hold{
  position: absolute;
  top: 190px;
  left: 100px;
  right: 100px;
  bottom: 20px;
}

/* Inside carts*/

.all-products-holder{
  position: absolute;
  top:4%;
  left: 0;
  right:0;
  bottom: 54px;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

#cart-column-holder{
  position: relative;
  height: 200px;
  margin-top: 20px;
}

#cart-column-holder:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.cart-left-column{
  float: left;
  width: 50%;
  height: 100%;
}

#cart-attribute-holder{
  position: relative;
  left: 5px;
  bottom: 60px;
  display: inline-block;
}

#cart-attribute-holder-each{
  display: flex;
  flex-direction: row;
  height: 22px;
}

#cart-attribute-name{
  position: relative;
  padding: 0px 10px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 110%;
  list-style-type: none;
  
  color: #1D1F22;
}

.cart-right-column{
  position: relative;
  float: right;
  width: 50%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* Text for cart*/
#product-name-cart{
  position: relative;
  left: 5px;
  bottom: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  color: #1D1F22;
}

#product-brand-cart{
  position: relative;
  left: 5px;
  bottom: 35px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 20px 0px;

  color: #1D1F22;
}

#cart-product-price-div{
  position: absolute;
  left: 5px;
  bottom: 0;
}

#cart-product-price-text{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;

  color: #1D1F22;
}

#attribute-name-cart{
  font-family: 'Roboto', Condensed;
  font-style: normal;
  font-size: 14px;

  color: #1D1F22;
}


/* Total Price*/
#cart-price-holder{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#cart-all-price-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  
  color: #1D1F22;
  
}

#total-price-number{
  position: absolute;
  right: 15%;
  top: 5px;
  
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  
  color: #1D1F22;
}

/*increase nad decrease buttons*/
#increase-decrease-quantity{
  width: 24px;
  height: 24px;
  background: none;

  border: 1px solid #1D1F22;
  box-sizing: border-box;
}

#increase-decrease-quantity:hover{
  cursor: pointer;
}

#increase-decrease-quantity:active{
  background: #e5e5e5;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#increase-decrease-box{
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  text-align: center;
}